{% load static %}
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlahBLahBLog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav> 


        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'blog:index' %}">Blogs</a></li>
            <li><a href="{% url 'blog:create' %}">Write a Blog</a></li>
            <li>
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button type="submit">Log out</button>
                </form>
              </li>
            {% else %}
            <li><a href="{% url 'blog:base' %}">Home</a></li>
            <li><a href="{% url 'blog:home' %}">Login</a></li>
            <li><a href="{% url 'blog:signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>